<div id="sidebar_printerpoweronoff_background" class="row-fluid" data-bind="css: printerpoweronoffState">
	<button type="button" id="printerpoweroff" class="btn span6" data-bind="click: printerpowerOff">Power Off</button>
	<button type="button" id="printerpoweron" class="btn span6" data-bind="click: printerpowerOn">Power On</button>
</div>
