<div id="sidebar_printerpoweronoff_background" class="row-fluid" data-bind="css: printerpoweronoffState">
	<button type="button" id="printerpoweroff" class="btn span6" data-bind="click: function() { printerpowerOff() }">Power Off</button>
	<button type="button" id="printerpoweron" class="btn span6" data-bind="click: function() { printerpowerOn() }">Power On</button>
</div>
