<div id="sidebar_printerpoweronoff_background" class="btn-group" data-bind="css: printerpoweronoffState">
	<button type="button" id="emergemcy_stop" class="btn-estop" data-bind="attr: { title: buttonTitle }, text: buttonText, enable: enableEstop, click: function() { sendEstopCommand() }"></button>
</div>
